---
import { getCollection } from 'astro:content';

const models = await getCollection('ja/models');
---
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<title>Mental Model Atlas</title>
	</head>
	<body>
		<h1>Mental Model Atlas</h1>

		<ul>
		{models.map((model) => (
			<li>
			<a href={`/ja/models/${model.slug}/`}>
				{model.data.正式名称}
			</a>
			</li>
		))}
		</ul>
	</body>
</html>