---
import { Icon } from 'astro-icon/components';
import { GITHUB_URL } from '../constants/site-config';

const pathname = Astro.url.pathname;
interface Props {
  lang?: 'ja' | 'en';
}

const { lang } = Astro.props as Props;
const currentLang = lang || (pathname.startsWith('/ja/') ? 'ja' : 'en');
---


<footer class="site-footer">
  <div class="site-footer-inner">
    <div class="footer-top">
      <nav class="footer-nav">
        <a href={`/`}>Top</a>
        <a href={`/${currentLang}/models`}>Models</a>
        <a href={`/${currentLang}/about`}>About</a>
      </nav>

      <div class="social-links">
        <a class="social-link" href={GITHUB_URL} target="_blank" rel="noopener noreferrer" aria-label="GitHub">
          <Icon name="simple-icons:github" size={20} />
        </a>

        <a class="social-link" target="_blank" rel="noopener noreferrer" aria-label="X">
          <Icon name="simple-icons:x" size={20} /> <!-- XのURLが決まっていないため、hrefは空にしておく -->
        </a>
      </div>
    </div>

    <div class="footer-copyright">
      <p>© 2026, Made by Rikuya Osawa. All rights reserved.</p>
    </div>
  </div>
</footer>
